<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599279327301-1635flo3gtija792bf5pfkf03hlunv98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599279327301-1635flo3gtija792bf5pfkf03hlunv98</string>
	<key>API_KEY</key>
	<string>AIzaSyD98MvZSS-5MwC59jfM87pyRguorHWCWBc</string>
	<key>GCM_SENDER_ID</key>
	<string>599279327301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.howift.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-45364</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-45364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599279327301:ios:210621e8a271058e772b2c</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-45364.firebaseio.com</string>
</dict>
</plist>